<div class="vacancies-tabs">
  <div class="vacancies tab-list">
    <div
      app-vacancies-list-item
      *ngFor="let vacancy of vacancies"
      [vacancy]="vacancy"
      [route]="['/companies', companyId, 'vacancies', vacancy.id]"
      class="item card company-tab"></div>
  </div>
  <div class="tab-action">
    <a *ngIf="companyId" class="button info" [routerLink]="['/companies', companyId, 'vacancies']">See more</a>
    <a *ngIf="companyId" class="button success " [routerLink]="['/companies', companyId, 'vacancies', 'new']">
      <svg-icon name="plus-icon" size="25"></svg-icon> Create
    </a>
  </div>
</div>
