@import '~variables.scss';
:host {
  width: 100%;
  display: flex;

  .header-content {
    display: flex;
    flex-direction: row;
    color: $theme_white;
    width: 100%;
    justify-content: space-between;

    .settings-block {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;

      .sign-out {
        color: $pure_white;
        background-color: $red;
      }
    }
  }

}
