<div class="orders-list card">
  <div class="order-item"
       [ngClass]="{ active: selectedOrder?.key === order?.key }"
       *ngFor="let order of orders"
       (click)="selectOrder(order)"
    >
    <svg-icon
      *ngIf="selectedOrder?.key === order?.key && orderDirection"
      size="20"
      name="filter-down-icon">
    </svg-icon>
    <svg-icon
      *ngIf="selectedOrder?.key === order?.key && !orderDirection"
      size="20"
      name="filter-up-icon">
    </svg-icon>
    {{ order.title }}
  </div>
</div>
