:host {
  display: flex;
  flex-direction: row;
  padding: 10px;
  min-height: 6em;

  .base-info {
    margin-left: 10px;
    width: 100%;
  }

  .date {
    text-align: right;
    font-size: 14px;
  }
}
