<div class="side-navigation">
  <div class="user_panel side-nav-header" *ngIf="user">
    <div class="image">
      <img class="logo" [src]="avatarUrl" />
    </div>
    <div class="base-info info-block">
      {{ user.first_name }} {{user.last_name}}
    </div>
    <div class="additional-info info-block">
      <a [routerLink]="['/users', user.id, 'edit']">
      {{ user ? user.email : 'example@mail.com' }}
      </a>
    </div>
  </div>
  <div class="menu-items">
    <ul>
      <li>
        <a [routerLink]="['/companies']">
          <svg-icon name="company-icon" size="35"></svg-icon>
          Companies
        </a>
      </li>
    </ul>
  </div>
</div>
