@import '~variables.scss';

.side-navigation {
  height: 100%;
  width: 15em;
  background-color: $side_navigation;
  color: $pure_white;

  a {
    // text-decoration: none;

    &:active {
      color: $pure_white;
    }

    &:visited {
      color: $theme_white;
    }
  }

  .user_panel.side-nav-header {
    background-color: $primary_nav_header;

    .image {
      padding: 10px;
      .logo {
        height: 5em;
        width: 5em;
        border-radius: 50px;
      }
    }

    .info-block {
      color: white;
      padding: 5px 10px;

      &.base-info {
        font-size: 20px;
      }
      &.additional-info {
        font-size: 14px;
      }
    }
  }

  .menu-items {
    color: $pure_white;
    display: flex;
    padding-left: 15px;
    padding-top: 15px;

    ul {
      list-style: none;

      li {
        margin-top: 10px;
        a {
          display: flex;
          flex-direction: row;

          span {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }
  }
}
