<div class="side-navigation">
  <div class="user_panel side-nav-header">
    <div class="image">
      <img class="logo" src="https://gitlab.com/uploads/-/system/user/avatar/56386/tt_avatar_small.jpg" />
    </div>
    <div class="base-info info-block">
      First name Last name
    </div>
    <div class="additional-info info-block">
      {{ user ? user.email : 'example@mail.com' }}
    </div>
  </div>
  <div class="menu-items">
    <md-list>
      <md-list-item>
        <md-icon md-list-icon>business</md-icon>
        <h4 md-line> Companies </h4>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>event_seat</md-icon>
        <h4 md-line> Vacancies </h4>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>local_phone</md-icon>
        <h4 md-line> Interview </h4>
      </md-list-item>
    </md-list>
  </div>
</div>
