<div class="side-navigation">
  <div class="user_panel side-nav-header" *ngIf="user">
    <div class="image">
      <svg-icon
        name="user-placeholder"
        size="75"
        *ngIf="avatarUrl == null">
      </svg-icon>
      <img
        [src]="avatarUrl"
        width="75" height="75"
        class="logo"
        *ngIf="avatarUrl != null" />
    </div>
    <div class="base-info info-block">
      {{ user.first_name }} {{user.last_name}}
    </div>
    <div class="additional-info info-block">
      <a [routerLink]="['/users', user.id, 'edit']">
      {{ user ? user.email : 'example@mail.com' }}
      </a>
    </div>
  </div>
  <div class="menu-items">
    <ul>
      <li>
        <a [routerLink]="['/companies']">
          <svg-icon name="company-icon" size="35"></svg-icon>
          <span>Companies</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/resumes']">
          <svg-icon name="resumes-menu-icon" size="35"></svg-icon>
          <span>Resumes</span>
        </a>
      </li>
    </ul>
  </div>
</div>
