:host {
  display: flex;
  .candidate-block {
    padding: 10px;

    .name, .email, .role {
      padding: 5px;
    }
  }

  .calendar-block {
    padding: 10px;

    .base-date {
      .date {
        font-size: 60px;
      }
    }
  }
}
