:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .filters {
    display: flex;
    flex-direction: row;

    .actions {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .buttons {
        display: flex;
        flex-direction: row;
      }
    }
  }

  .add-company-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .search.card {
    .form {
      .form-field {
        width: 100%;

        input {
          width: auto;
        }
      }

      .form-actions {
        width: auto;
      }
    }
  }
}
