:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .search.card {
    .form {
      .form-field {
        width: 100%;

        input {
          width: auto;
        }
      }

      .form-actions {
        width: auto;
      }
    }
  }
}
