<div class="list-block">
  <div class="base-actions filters">
    <div class="filters">
      <form
        *ngIf="companiesFilterForm"
        class="form horizontal"
        [formGroup]="companiesFilterForm"
        (ngSubmit)="submitFilter()">
        <filter-order
          *ngIf="ordersFilter"
          [orders]="ordersFilter"
          [reset]="resetOrder"
          (onOrderSelected)="onOrderSelected($event)"
        ></filter-order>
        <filter-select
          *ngIf="rolesFilter"
          [items]="rolesFilter"
          (select)="onSelected($event)"
          ></filter-select>
          <div class="actions">
            <div class="buttons">
              <button type="submit" class="button">
                <svg-icon name="filter-icon" size="35"></svg-icon>
              </button>

              <svg-icon name="cancel-icon" size="35"></svg-icon>
            </div>
          </div>
        </form>
    </div>
    <a class="add-company-button" [routerLink]="['new']">
      <svg-icon name="plus-icon" size="35"></svg-icon>
    </a>
  </div>
  <div class="page">
    <div class="content-panel">
      <div class="search card">
        <form
          *ngIf="companiesSearchForm"
          class="form horizontal"
          [formGroup]="companiesSearchForm"
          (ngSubmit)="submitSearch()">
          <div class="form-field">
            <input
              formControlName="query"
              placeholder="Search"
              class="field"
              type="text" />
          </div>
          <div class="form-actions">
            <button class="button clear icon">
              <svg-icon name="search-magnifier" size="25"></svg-icon>
            </button>
          </div>
        </form>
      </div>
      <div class="base list">
        <div app-company-list-item
          *ngFor="let company of companies"
          [company]="company"
          class="item card"></div>
      </div>
    </div>
    <div class="inner-elements card">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
