:host {
  display: flex;
  flex-direction: column;

  .page {
    display: flex;
    flex-direction: row;

    .list {
      text-align: left;
      min-width: 20em;
    }

    .inner-elements {
      width: 100%;
    }
  }
  .form {
    &.search {
      .form-field {
        width: 100%;
      }

      .form-actions {
        width: auto;
        margin: 0px;
      }
    }
  }
}
