<p>Companies</p>
<div class="page">
  <div class="content-panel">
    <div class="form horizontal search card">
      <div class="form-field">
        <input placeholder="Search" class="field" type="text">
      </div>
      <div class="form-actions">
        <button class="button clear icon">
          <svg-icon name="search-magnifier" size="25"></svg-icon>
        </button>
      </div>
    </div>
    <div class="companies list">
      <div app-company-list-item *ngFor="let company of companies" [company]="company" class="item card"></div>
    </div>
  </div>
  <div class="inner-elements card">
    <router-outlet></router-outlet>
  </div>

</div>
