<div class="list-block">
  <div class="base-actions filters">
    <div class="filters">
      <filter-order
        *ngIf="ordersFilter"
        [orders]="ordersFilter"
        [reset]="resetOrder"
        (onOrderSelected)="onOrderSelected($event)"
      ></filter-order>
    </div>
    <a class="add-company-button" [routerLink]="['new']">
      <svg-icon name="plus-icon" size="35"></svg-icon>
    </a>
  </div>
  <div class="page">
    <div class="content-panel">
      <div class="search card">
        <form
          *ngIf="companiesSearchForm"
          class="form horizontal"
          [formGroup]="companiesSearchForm"
          (ngSubmit)="submitSearch()">
          <div class="form-field">
            <input
              formControlName="query"
              placeholder="Search"
              class="field"
              type="text" />
          </div>
          <div class="form-actions">
            <button class="button clear icon">
              <svg-icon name="search-magnifier" size="25"></svg-icon>
            </button>
          </div>
        </form>
      </div>
      <div class="base list">
        <div app-company-list-item
          *ngFor="let company of companies"
          [company]="company"
          class="item card"></div>
      </div>
    </div>
    <div class="inner-elements card">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
