:host {
  .resume-page {
    display: flex;

    .row {
      display: flex;
      flex-direction: row;
    }

    .base-info {
      display: flex;
      padding: 20px;
      max-height: 20em;

      .info {
        margin: 0 10px;
      }

      .contact {
        display: flex;
        flex-direction: column;

        .attribute {
          display: flex;
          flex-direction: row;
          margin: 10px 0px;

          label {
            margin-right: 15px;
          }

          p {
            margin: 0px;
          }
        }
      }
    }

    .skills-info {
      display: flex;
      min-width: 20em;

      .skill-item {
        margin: 10px;
        min-width: 2em;
        height: 2em;
      }
    }
  }
}
