<form class="form" [formGroup]="restorePasswordForm" (ngSubmit)="restorePassword()">
  <div class="form-field">
    <input placeholder="Email" class="field" formControlName="email" type="email">

    <div class="error" *ngIf="restorePasswordForm.get('email').touched &&
      restorePasswordForm.get('email').hasError('email')">
      Please enter a valid email address
    </div>
    <div class="error" *ngIf="restorePasswordForm.get('email').touched &&
        restorePasswordForm.get('email').hasError('required')">
      Email is <strong>required</strong>
    </div>
    <div *ngFor="let error of restorePasswordErrors['email']" class="error">
      {{error}}
    </div>
  </div>
  <div class="form-actions">
    <button
      type="submit"
      class="button primary"
      [disabled]="!restorePasswordForm.valid">Reset password</button>
  </div>
</form>
