<form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
  <div class="form-field">
    <input placeholder="Password" class="field" formControlName="password" type="password">

    <div class="error" *ngIf="resetPasswordForm.get('password').touched &&
        resetPasswordForm.get('password').hasError('required')">
      Password is <strong>required</strong>
    </div>
    <div *ngFor="let error of resetPasswordErrors.password" class="error">
      {{error}}
    </div>
  </div>
  <div class="form-field">
    <input placeholder="Password confirmation" class="field" formControlName="password_confirmation" type="password">

    <div class="error" *ngIf="resetPasswordForm.get('password_confirmation').touched &&
        resetPasswordForm.get('password_confirmation').hasError('required')">
      Password confirmation is <strong>required</strong>
    </div>
    <div class="error" *ngIf="resetPasswordForm.get('password_confirmation').touched &&
        resetPasswordForm.get('password_confirmation').hasError('notMatching')">
      Password confirmation is not matching the password
    </div>
    <div *ngFor="let error of resetPasswordErrors.password_confirmation" class="error">
      {{error}}
    </div>
  </div>
  <div class="form-actions">
    <button
      type="submit"
      class="button primary"
      [disabled]="resetPasswordForm.invalid">Reset password</button>
  </div>
</form>
