<form class="form" [formGroup]="passwordForm" (ngSubmit)="updateProfile()">
  <div class="form-field">
    <input placeholder="Password" class="field" formControlName="current_password" type="password">

    <div class="error" *ngIf="passwordForm.get('current_password').touched &&
        passwordForm.get('current_password').hasError('required')">
      Current password is <strong>required</strong>
    </div>
    <div *ngFor="let error of passwordFormErrors.current_password" class="error">
      {{error}}
    </div>
  </div>
  <div class="form-field">
    <input placeholder="Password" class="field" formControlName="password" type="password">

    <div class="error" *ngIf="passwordForm.get('password').touched &&
        passwordForm.get('password').hasError('required')">
      Password is <strong>required</strong>
    </div>
    <div *ngFor="let error of passwordFormErrors.password" class="error">
      {{error}}
    </div>
  </div>
  <div class="form-field">
    <input placeholder="Password confirmation" class="field" formControlName="password_confirmation" type="password">

    <div class="error" *ngIf="passwordForm.get('password_confirmation').touched &&
        passwordForm.get('password_confirmation').hasError('required')">
      Password confirmation is <strong>required</strong>
    </div>
    <div class="error" *ngIf="passwordForm.get('password_confirmation').touched &&
        passwordForm.get('password_confirmation').hasError('notMatching')">
      Password confirmation is not matching the password
    </div>
    <div *ngFor="let error of passwordFormErrors.password_confirmation" class="error">
      {{error}}
    </div>
  </div>
  <div class="form-actions">
    <button
      type="submit"
      class="button primary"
      [disabled]="!passwordForm.valid">Change password</button>
  </div>
</form>
