:host {
  display: flex;

  .orders-list {
    display: flex;
    flex-wrap: wrap;

    .order-item {
      display: flex;
      flex-direction: row;
      margin: 5px;
      padding: 2px;

      &.active {
        border: 1px solid red;
        border-radius: 5px;
      }
    }
  }
}
