@import '~variables.scss';

.base-container {
  min-height: 50em;

  md-toolbar.main-header {
    background-color: $primary;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
