:host {
  display: flex;
  justify-content: center;

  .drop-zone {
    border: dotted 3px lightgray;

    &.filled {
      // width: 10em;
      // height: 10em;

      .uploader-attachment {
        // width: 10em;
        // height: 10em;
      }
    }
  }

  .nv-file-over {
    border: dotted 3px red;
  } /* Default class applied to drop zones on over */

  .another-file-over-class {
    border: dotted 3px green;
  }
}
