@import '~variables.scss';

:host {
  display: flex;

  .detail-page {
    width: 100%;

    .vacancy-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      padding-right: 1em;
      padding-top: 1em;

      a {
        margin: 0px 5px;
        cursor: pointer;
      }

      .content-block {

      }
    }
  }

  .tabs-block {
    margin-top: 15px;

    .tabs {
      .tab-panel {
        width: auto;
        min-width: 5em;
      }
    }
  }

  .skills-list {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .skill-item {
      padding: 5px;
      background-color: $skill_tag;
      margin: 5px;
      border-radius: 5px;
      color: white;
      cursor: pointer;

      &.unselected {
        background-color: $unselected_skill_tag;
      }
    }
  }

  .company.card {
    padding: 10px;
    align-self: flex-start;
    min-width: 13em;

    .title {
      font-size: 30px;
      a {
        text-decoration: none;
        color: black;
      }
    }

    .city {
      font-size: 20px;
    }
  }

  .content-block {
    display: flex;
    flex-direction: row;
  }

  .vacancy.card {
    padding: 10px;

    .title {
      font-size: 30px;
    }

    .salary {
      font-size: 20px;
      font-style: italic;
    }

    .description {
      max-width: 30em;

      .desc-toggler {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .interviews {
    padding: 10px;

    .list {
      display: flex;
      flex-direction: row;
    }
  }
}
