<div class="detail-page">
  <div class="vacancy-actions">
    <a [routerLink]="['edit']">
      <svg-icon
        name="edit-icon"
        size="25"></svg-icon>
    </a>
    <a (click)="deleteVacancy()">
      <svg-icon
        name="delete-icon"
        size="25"></svg-icon>
    </a>
  </div>
  <div class="content-block">
    <div class="company card" *ngIf="vacancy?.company">
      <div class="image">
        <svg-icon
          name="company-image-placeholder"
          size="100"
          *ngIf="vacancy.company.attachment == null">
        </svg-icon>
        <img [src]="vacancy.company.attachment.thumb_url" *ngIf="vacancy.company.attachment !== null" />
      </div>
      <div class="title">
        <a [routerLink]="['/companies', vacancy.company.id]">
          {{ vacancy.company.name }}
        </a>
      </div>
      <div class="city">
        {{ vacancy.company.city }}
      </div>
      <div class="short-description">
        {{ vacancy.company.description | truncate:20 }}
      </div>
    </div>

    <div class="vacancy-info">
      <div class="vacancy card">
        <div class="title" *ngIf="vacancy">
          {{ vacancy.title }}
        </div>
        <div class="salary" *ngIf="vacancy">
          {{ vacancy.salary }}
        </div>
        <div class="description" *ngIf="vacancy">
          {{ vacancy.description | truncate: 200 }}
        </div>
      </div>

      <div class="skills card">
        <div class="skills-list" *ngIf="vacancy">
          <a
            *ngFor="let skill of vacancy.skills"
            class="skill-item">
            {{ skill.name }}
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
