@import '~variables.scss';

body {
  padding: 0px;
  margin: 0px;
  background-color: $theme_white;
}

.card {
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  box-sizing: border-box;
  border-radius: 5px;
}
