$primary: #3F51B5;
$primary_nav_header: #303F9F;
$theme_white: #E8EAF6;
$side_navigation: #5C6BC0;
$pure_white: white;
$red: #F44336;
$base_form: #283593;
$primary_button: #303F9F;
$disabled_button: #7986CB;
$button_success: #4CAF50;
$button_success_disabled: #A5D6A7;
$info_color: #3D5AFE;
$skill_tag: #81D4FA;
$unselected_skill_tag: #03A9F4;
$skill_border: #C5CAE9;
$blue_border_color: #3196f0;
$placeholder_color: #248fef;
$red_button_color: #f24e49;
$red_button_dark_color: #e82b26;
