<div class="image">
  <svg-icon
    name="user-placeholder"
    size="75"
    *ngIf="interview?.candidate?.attachment == null">
  </svg-icon>
  <img [src]="interview?.candidate?.attachment.small_thumb_url" width="75" height="75" *ngIf="interview?.candidate?.attachment !== null" />
</div>
<div class="base-info">
  <div class="candidate-name" *ngIf="interview?.candidate">
    <a [routerLink]="router">
      {{ interview.candidate.email }}
    </a>
  </div>
  <div class="date" *ngIf="interview?.candidate">
    Assigned: {{ interview.assigned_at | date: 'dd.MM.yyyy H:M' }}
  </div>
</div>
