:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */

  text-align: center;

  h2 {
    width: 100%;
  }
}
