:host {
  .resumes-page {
    display: flex;
    flex-direction: row;

    .content-block {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .resumes-block {
        display: flex;
        flex-direction: colum;
      }
    }
  }
}
