:host {
  .resumes-page {
    display: flex;
    flex-direction: row;
    height: 94%;

    .content-block {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .search-block {
        display: flex;
        flex-direction: row;

        .search-form {
          flex-grow: 1;

          .form-field.full-width {
            width: 100%;
          }

          .form-actions {
            width: auto;
          }
        }

        .options-block {
          display: flex;
          flex-direction: row;
          flex-grow: 0.2;

          .new-resume {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }

      .resumes-block {
        display: flex;
        flex-direction: colum;
      }
    }

    .filter-block {
      display: flex;
      flex-direction: column;
      width: 20em;

      h3, h4 {
        margin-bottom: 0px;
      }

      h4 {
        margin-top: 0px;
        text-align: left;
      }

      .form-field {
        &.skills {
          margin: 20px 0px;
        }

        .range-slider {
          padding: 0 20px;
        }
      }
      .form-actions {
        margin-top: 40px;
      }
    }
  }
}
